* {
    padding: 0%;
    margin: 0%;
    font-family: 'Martian Mono', monospace;
}

body {
    min-width: 500px;
}

::-webkit-scrollbar {
    display: none;
}

.header {
    background-color: #00000091;
    border-radius: 1px solid #000000;
    box-shadow: 0 0 15px #000000;
    margin: 0px 5px;
}

.contenedor-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 5px;
    margin-left: 15px;
    width: 180px;
}

.logo:hover {
    transform: rotateY(360deg) scale(1.2);
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.contenedor-buscar {
    display: flex;
    justify-content: center;
}

#boton-buscador {
    border-radius: 100%;
    padding: 5px;
}

.logo-buscar {
    width: 25px;
}

.buscador {
    border-radius: 5px;
    box-shadow: 5px 5px 12px #000000,
        -2px -2px 12px #ff2a39;
    margin: 10px 100px 10px 10px;
    width: 300px;
    height: 20px;
    font-size: 18px;

    text-align: center;
}

.menu-cuenta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    float: right;
    top: 100px;
    right: 100px;
    background-color: #90909091;
    color: #ff2a39;
    min-height: 300px;
    min-width: 200px;
    z-index: 2;
    display: none;
}

.menu-favoritos {
    position: fixed;
    float: right;
    top: 100px;
    right: 40px;
    background-color: #90909091;
    color: #ff2a39;
    min-height: 300px;
    min-width: 200px;
    z-index: 2;
    display: none;
}

.menu-carrito {
    position: fixed;
    float: right;
    top: 100px;
    right: 10px;
    background-color: #90909091;
    color: #ff2a39;
    min-height: 300px;
    min-width: 200px;
    z-index: 2;
    display: none;
}

#carouselExampleControls {
    background-color: #000000;
    
    margin: 80px 10px 10px 10px;
}

.imgCarrusel {
    min-width: 1200px;
    margin-left: 80px;
}

.menu-inferior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contenedor-usuario {
    margin: 10px;
}

.contenedor-usuario img {
    width: 40px;
}

.menu-hamburgesa {
    display: none;
}

.conenedor-pricipal {
    min-height: 800px;
}

.contenedor-pricipal {
    margin: 25px 10px;
    display: grid;
    grid-template-columns: 100%;
    min-height: 500px;
}



.filtrado {
    background-color: #ff2a39AB;
    height: fit-content;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 12px #000000,
        -5px -5px 12px #ff2a39;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    font-weight: bold;

    
    
}

.btn-filtrado {
    padding: 3px;
    background-color: #000000;
    border-radius: 1px;
    box-shadow: -9px -5px 12px  -1px rgba(0,0,0,0.88);
-webkit-box-shadow: -9px -5px 12px  -1px rgba(0,0,0,0.88);
-moz-box-shadow: -9px -5px 12px  -1px rgba(0,0,0,0.88);
    color: white;
    
}
.btn-filtrado:hover  {
    background-color: #ff2a39AB;
    color: white;
}
.btn-filtrado:focus  {
    background-color: #ff2a39AB;
    color: white;
}

.contenedor-productos {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    background-color: #444343;
    border-radius: 5px;

}
.contenedor-detalle{
    display: flex;
    align-items: center;
    width: auto;
    flex-direction: column;
    justify-content: center;
    background-color: #444343;
    border-radius: 5px;
}
.imgContenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.nombreDetalle{
    color: #ff2a39;
   margin: 10px auto;
}
.imgPrincipal{
    width: 400px;
    height: 600%;
    margin: 10px;
}
.imgsecundarias{
    display: flex;
    flex-direction: column;
   
}
.imgSecundaria{
    width: 100px;
    height: 200px;
    margin: 10px;
}
.precioDetalle{
    color: #ff2a39;
    margin: auto;
}
.btn-logeo{
    padding: 3px;
    background-color: #000000;
    border-radius: 1px;
    box-shadow: -9px -5px 12px -1px rgba(0,0,0,0.88);
    -webkit-box-shadow: -9px -5px 12px -1px rgba(0,0,0,0.88);
    -moz-box-shadow: -9px -5px 12px -1px rgba(0,0,0,0.88);
    color: white;
}
.productos {
    width: fit-content;
    justify-content: center;
}

#card {
    width: 15rem;
}

.footer {
    margin: 0px 5px;
    margin-bottom: 0%;
    height: 100px;
    background-color: #00000091;
    border-radius: 1px solid #000000;
    box-shadow: 0 0 15px #000000;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    text-align: center;
}

.contenedor-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto {
    color: #ff2a39;
    margin: 5px;
}

.contenedor-contacto h4 {
    text-decoration: underline;
}

.contenedor-ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ubicacion {
    color: #ff2a39;
    margin: 5px;
}

.contenedor-ubicacion h4 {
    text-decoration: underline;
}

.contenedor-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nosotros-link {

    font-weight: bold;
    color: #ff2a39;
    height: fit-content;
    text-decoration: none;
    margin: 5px;
    display: block;
}

@media(max-width: 787px) {
    .contenedor-buscar {
        display: none;
    }

    .menu-hamburgesa {
        display: inline;
    }

    .contenedor-pricipal {
        display: block;
    }

    .contenedor-productos {
        flex-direction: column;
    }

    #card {
        width: 25rem;
    }

    .carousel {
        display: none;
    }

    .filtrado-contenedor {
        display: none;

    }
    .filtrado{
    background-color: #ff2a39AB;
    height: 300px;
    margin: 0;
    border-radius: 5px;
    box-shadow: 5px 5px 12px #000000,
        -5px -5px 12px #ff2a39;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    }

    .contenedor-cerrar-filtro {
        display: none;
    }

    .footer {
        height: fit-content;
    }
}

@media(max-width: 988px) {
    .contenedor-buscar {
        display: none;
    }

    .menu-hamburgesa {
        display: inline;
    }

    .contenedor-pricipal {
        display: block;
    }

    .filtrado-contenedor {
        display: none;
    }
    .filtrado{
   background-color: #ff2a39AB;
   height: 300px;
   margin: 0;
   border-radius: 5px;
   box-shadow: 5px 5px 12px #000000,
       -5px -5px 12px #ff2a39;
   display: none;
   align-items: center;
   flex-direction: column;
   justify-content: space-around;
   font-size: 12px;
   font-weight: bold;
   text-decoration: underline;
   }
    .carousel {
        display: none;
    }

    .contenedor-cerrar-filtro {
        display: none;
    }

    .footer {
        height: fit-content;
    }
}

@media(min-width: 989px) {
    .filtrado{
        display: flex;
        height: fit-content;
    }
    .nav-contenedor-hamburgesa{
        display: block;
        height: fit-content;
        transform: translateY(5%);
        transition: 1s;
        margin: 20px;
        height: 0px;
        position: relative;
        z-index: -1;
    }
}